@page
@model SWD392_PracinicalManagement.Pages.ExaminationResult.DetailModel
@{
    Layout = "_Layout";
}
<h1 class="text-center m-3">Hồ sơ bệnh án</h1>
<div class="container-fluid">
    <div class="row m-5">
        <table class="table table-bordered table-responsive-md table-danger">
            <tr>
                <td class="fw-bold">Ngày tạo:</td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Hồ sơ bệnh án số: </td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Tên bệnh nhân: </td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Giới tính</td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Ngày sinh</td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Địa chỉ</td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Bác sĩ thực hiện:</td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Chỉ định thực hiện: </td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
                <td class="fw-bold">Kết quả khám</td>
                <td>
                    <div>
                        <ul>
                            <li>
                                <p>17/07/2023</p>
                                <p>Kết quả xét nghiệm <button class="btn btn-danger ms-3">Xem chi tiết</button> </p>
                            </li>
                            <li>
                                <p>17/07/2023</p>
                                <p>Kết quả xét nghiệm <button class="btn btn-danger ms-3">Xem chi tiết</button> </p>
                            </li>
                            <li>
                                <p>17/07/2023</p>
                                <p>Kết quả xét nghiệm <button class="btn btn-danger ms-3">Xem chi tiết</button> </p>
                            </li>
                            <li>
                                <p>17/07/2023</p>
                                <p>Kết quả xét nghiệm <button class="btn btn-danger ms-3">Xem chi tiết</button> </p>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr id="importFilePreview"></tr>
            <tr>
                <td class="fw-bold">Ghi chú: </td>
                <td>Ngày tạo</td>
            </tr>
            <tr>
            <td class="text-center" colspan="2">
                <input class="btn btn-outline-danger me-3" type="submit" value="Back">
            </td>
        </table>
    </div>
</div>